.app {
  position: relative;
  overflow: hidden;
}

.logo-text {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 900;
  line-height: 40px;
}

.heading {
  color: var(--color-pink);
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 4.6px;
  text-transform: uppercase;
}

.subheading {
  color: var(--color-black);
  font-size: 44px;
  font-weight: 700;
  line-height: 120%;
}

.text-primary {
  color: var(--color-gray);
  font-family: var(--font-base);
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
}

.btn {
  padding: 16px 32px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1),
    0px 5px 11px 0px rgba(0, 0, 0, 0.1), 0px 20px 20px 0px rgba(0, 0, 0, 0.09),
    0px 45px 27px 0px rgba(0, 0, 0, 0.05), 0px 81px 32px 0px rgba(0, 0, 0, 0.01),
    0px 126px 35px 0px rgba(0, 0, 0, 0);
}

.btn-large {
  padding: 32px 64px;
  gap: 16px;
  border-radius: 32px;
}

.btn-primary {
  background-color: var(--color-purple);
  border: none;
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-white);
  border: none;
}

.btn-pink {
  background-color: var(--color-white);
  color: var(--color-pink);
  border: none;
}

.design_1 {
  position: absolute;
  z-index: -100;
  top: -350px;
  left: -350px;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 500px;
  opacity: 0.5;
  background: #ff5722;
  filter: blur(250px);
}

.design_3 {
  position: absolute;
  z-index: -100;
  right: -350px;
  top: 500px;
  width: 500px;
  height: 500px;
  flex-shrink: 0;
  border-radius: 500px;
  opacity: 0.5;
  background: #facd49;
  filter: blur(250px);
}

@media screen and (max-width: 1150px) {
  .logo-text {
    font-size: 22px;
  }

  .heading {
    font-size: 19px;
    line-height: 115%;
    letter-spacing: 4.4px;
  }

  .subheading {
    font-size: 38px;
    line-height: 115%;
  }

  .text-primary {
    font-size: 16px;
    line-height: 155%;
  }

  .btn {
    padding: 14px 30px;
    font-size: 13px;
  }

  .btn-large {
    padding: 28px 60px;
  }

  .design_3 {
    top: 650px;
  }
}

@media screen and (max-width: 850px) {
  .logo-text {
    font-size: 18px;
  }

  .heading {
    font-size: 17px;
    line-height: 110%;
    letter-spacing: 4.3px;
  }

  .subheading {
    font-size: 34px;
    line-height: 110%;
  }

  .text-primary {
    font-size: 14px;
    line-height: 150%;
  }

  .btn {
    padding: 10px 26px;
    font-size: 12px;
  }
  .btn-large {
    padding: 24px 54px;
  }
  .design_3 {
    top: 750px;
  }
}

@media screen and (max-width: 650px) {
  .logo-text {
    font-size: 14px;
  }

  .heading {
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 4.1px;
  }

  .subheading {
    font-size: 28px;
    line-height: 100%;
  }

  .text-primary {
    font-size: 12px;
    line-height: 130%;
  }

  .btn {
    padding: 6px 22px;
    font-size: 10px;
  }
  .btn-large {
    padding: 20px 48px;
  }
}
